.navbar-right {
    margin-top: -50px;
}
.navbar-default {
    padding: 15px;
}
.showmessage {
    padding: 149px;
    border: 2px solid #ddddd0;
	background-color:white;
}
.form-group{
	margin-bottom:30px;
}
.profile{
    margin-top:-5px;
    margin-bottom: 40px;
    margin-left: -20px;
}
.showexam {
    padding: 20px;
    border: 2px solid #ddddd0;
	background-color:white;
}