.navbar-inverse {
    padding: 25px;
}
.navbar-right {
    margin-top: 15px;
}
.showmessage {
    padding: 149px;
    border: 2px solid #ddddd0;
	background-color:white;
}
.admin{
	margin-bottom:20px;
}